Brotli==1.0.9
cachetools==4.2.4
certifi==2021.10.8
charset-normalizer==2.0.7
click==8.0.3
colorama==0.4.4
dash==2.0.0
dash-bootstrap-components==1.0.0
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-renderer==1.5.0
dash-table==5.0.0
Flask==2.0.2
Flask-Compress==1.10.1
future==0.18.2
google-api-core==2.2.2
google-api-python-client==2.30.0
google-auth==2.3.3
google-auth-httplib2==0.1.0
googleapis-common-protos==1.53.0
httplib2==0.20.2
idna==3.3
itsdangerous==2.0.1
Jinja2==3.0.3
MarkupSafe==2.0.1
plotly==5.3.1
protobuf==3.19.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pyparsing==3.0.5
requests==2.26.0
rsa==4.7.2
six==1.16.0
tenacity==8.0.1
uritemplate==4.1.1
urllib3==1.26.7
waitress==2.0.0
Werkzeug==2.0.2
