/* The div that contains video-anchor */
.video-list-item {
	position: relative;
}

/* The anchor that contains the video thumbnail and play icon */
.video-anchor {
	margin:2px;
}

/* The anchor that contains the video thumbnail and play icon
   darken the play icon on hover */
.video-anchor:hover .video-play {
	opacity: 0.7;
}

/* video thumbnail image */
.video-thumbnail {
	width: 480;
    height: 360;
}

/* video play icon */
.video-play {
	width: 480;
    height: 360;
    left: 100px;
    top: 20px;
    position: absolute;
    opacity: 0.3;
    z-index: 1;
}